{% extends "base.html" %}

{% load static %}

{% block title %}
{{titulo}}
{% endblock title %}

{% block body %}
<!--post-->
<section class="mx-auto" style="width: 75%;">
  <br>
  <br>
  <br>
  <h2>
    Escola cervejeira belga
  </h2>
  <img class="img-fluid img-thumbnail" src="https://github.com/Ediglebison/Site_PAC2/blob/main/img/05-belgica.png?raw=true" alt="Belgica" style="width:500px; height:auto">
  <p>
    Já falamos das cervejas mais maltadas e apuradas, e de secas e amargas. Agora, vamos conhecer a Escola Belga, que
    consegue se diferenciar e ter dezenas de estilos próprios num território tão pequeno, tradição que se estende
    também pela Holanda e norte da França. <br>
    <br>
    Mais recente que as duas anteriores, ela se destaca pela criatividade e o sabor complexo. <br>
    <br>
    Por lá são produzidas cervejas de alta fermentação, adicionando ingredientes como semente de coentro, casca de
    laranja, anis e canela, entre outros. Seu teor alcoólico, em geral, é o mais elevado, muitas vezes passando dos
    10%. <br>
    <br>
    Na Bélgica são produzidas as cervejas mais cultuadas do mundo: as trapistas, feitas nos monastérios por
    monges.<br>
    <br>
    Os estilos mais comuns belgas são: Blonde Ale, Witbier, Dark Ale, Golden Ale, Tripel, Dubbel e Quadruppel. <br>
    <br>
    Os sabores frutados das cervejas locais são marcantes por conta das leveduras utilizadas, mas é também comum a
    utilização de frutas nas cervejas, principalmente nas cervejas Lambics (cervejas de fermentação espontânea) em
    tanques abertos. <br>
    <br>
    Principais marcas <br>
    <br>
    As principais marcas locais são: Leffe, Hoegaarden, Chimay, Duvel e Delirium, Westmalle, Vedett entre outras.
    Lembrando que a Bélgica produz um pouco mais de 1600 rótulos, até por isso seria difícil citar um número
    considerável de marcas aqui, não é? <br>
  </p>
</section>
<section class="mx-auto" style="width: 75%;">
  <h3>Comentarios</h3>
  <form action="" method="post">
    {% csrf_token %}

    <div class="form-group">
        <label>Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
        <label>Comentario</label>
        <textarea class="form-control" id="mensagem" name="mensagem" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label>Email que vai recebero comentario</label>
        <input type="email" class="form-control" id="email2" name="email2">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</section>
{%endblock body%}