<!doctype html>
<html lang="pt">
{% load static %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>
        {% block title %} {% endblock title %}
    </title>
</head>

<body>
    <header id="header" class="mx-auto" style="width: 75%;">
        <!-- Menu superior-->

        <nav class="navbar navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="{%url 'index' %}">Home Cervas</a>
                <nav class="nav justify-content-center">
                    <a class="nav-link" href="{%url 'contato' %}#sobre">Sobre</a>
                    <a class="nav-link" href="{%url 'index' %}#posts">Postagens</a>
                    <a class="nav-link" href="{%url 'contato' %}">Contato</a>
                </nav>
                <!-- Menu lateral-->
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Postagens recentes</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link" href="{%url 'historia' %}">Conheça a história da cerveja</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{%url 'escolas' %}">O que são escolas cervejeiras?</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{%url 'alema' %}">Escola cervejeira alemã</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{%url 'inglesa' %}">Escola cervejeira inglesa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{%url 'belga' %}">Escola cervejeira belga</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{%url 'americana' %}">Escola cervejeira americana</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{%url 'pureza' %}">Lei de pureza alemã: REINHEITSGEBOT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{%url 'cerveja' %}">O que é CERVEJA?</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{%url 'harmonizacao' %}">Harmonização de cervejas e pratos do
                                    dia-a-dia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{%url 'fabricacao' %}">Como fazer cerveja - O Processo de
                                    fabricação</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <br>
    </header>
    {% block body %} {% endblock body %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>